<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple tool to remove dots from Arabic text." />
    <meta property="og:image"
        content="assets/logo.png" />
    <title>dotless.app</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-30Z4SZD6N8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-30Z4SZD6N8');
    </script>
    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#clear").click(function () {
                document.getElementById('textarea').value = '';
                document.getElementById('converted__data').innerHTML = '';
                document.getElementById('after__converted__container').classList.remove('show__class');
            });

            $("#convert").click(function () {
                $.ajax({
                    contentType: 'application/json',
                    data: JSON.stringify({ "text": document.getElementById('textarea').value }),
                    dataType: 'json',
                    success: function (data) {
                        console.log("device control succeeded");
                        document.getElementById('converted__data').innerText = data['text'];
                        document.getElementById('after__converted__container').classList.add('show__class');
                    },
                    error: function () {
                        console.log("Device control failed");
                    },
                    processData: false,
                    type: 'POST',
                    url: '/convert'
                });
            });

            $("#copy__text").click(function () {
                var copyText = document.getElementById("converted__data");
                var textArea = document.createElement("textarea");
                textArea.value = copyText.innerText;
                document.body.appendChild(textArea);
                textArea.select();
                document.execCommand("Copy");
                textArea.remove();
                document.getElementById('toast__message').classList.add('show__class')
                setTimeout(() => {
                    document.getElementById('toast__message').classList.remove('show__class')
                }, 2000);
            });
        });
    </script>
</head>

<body>

    <img class="beta__img" src="https://i.ibb.co/c3FRQJZ/beta-banner-600.png">

    <div class="header__container">
        <span> إزالة النقاط من النصوص العربية - Convert Arabic texts to dotless</span>
    </div>

    <div class="text__container">
        <span>
            اكتب النص هنا - Write the text here
        </span>
    </div>

    <div class="textarea__container">
        <textarea id="textarea" maxlength="20000" class="form-control rounded-0" rows="10"></textarea>
    </div>

    <div class="inputs__container">
        <input class="convert__button" id="convert" type="submit" value="Convert - تحويل">
        <input class="clear__button" id="clear" type="button" value="Clear - مسح">
    </div>

    <div class="after__converted__container" id="after__converted__container">
        <div class="after__converted">
            <span>After converted - بعد التحويل</span>
        </div>

        <div class="converted__text">
            <span id="converted__data"></span>
        </div>

        <div class="inputs__container">
            <input class="convert__button" id="copy__text" type="submit" value="Copy - نسخ">
        </div>
    </div>
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>
    <script>
    window.fbAsyncInit = function() {
        FB.init({
        xfbml            : true,
        version          : 'v10.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
    attribution="biz_inbox"
    page_id="103643641918880">
    </div>
    <div class="alert alert-success" role="alert" id="toast__message">
        <span>Text copied - تم نسخ النص</span>
    </div>
</body>

</html>
